{% extends 'login/base.html' %}
{% load static %}

{% block title %}Informe de Ventas{% endblock title %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/informe_ventas.css' %}">
    <script src="{% static 'js/informe_ventas.js' %}"></script>

    <form action="{% url 'informe_ventas' %}" method="post" id="filterForm">
        {% csrf_token %}
        <div class="header">
            Informe de Ventas
        </div>
    
        
        <div class="row">
            <div class="col">
                <label for="selectVendedor">Vendedor</label>
                <select name="selectVendedor" id="selectVendedor" required>
                    {% for vendedor in vendedores %}
                        <option value="{{vendedor.id}}">{{vendedor.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <div class="label">Inicio:</div>
                <input type="date" class="input" id="startDate" name="startDate">
            </div>
            <div class="col">
                <div class="label">Final:</div>
                <input type="date" class="input" id="endDate" name="endDate">
            </div>
        </div>
        <div class="row">
            <button type="button" class="button" id="filterButton">Filtrar</button>
            <button type="button" class="button" id="clearButton">Limpiar</button>
        </div>
    </form>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Detalle</th>
                    <th>Vendedor</th>
                    <th>Monto</th>
                    <th>Cliente</th>
                    <th>Datos factura</th>
                </tr>
            </thead>
            <tbody id="asientos-body">
                {% for venta in ventas %}
                    <tr>
                        <td>{{venta.fecha}}</td>
                        <td>{{venta.descripcion}}</td>
                        <td>{{venta.vendedor.nombre}}</td>
                        <td>{{venta.monto_venta}}</td>
                        <td>{{venta.cliente.nombre_del_cliente}}</td>
                        <td><a target="_blank" href="{% url 'factura' venta.id %}">Ver Factura</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="add-button">
        <a href="{% url 'registro_venta' %}"><button class="button2">Registrar Nueva Venta</button></a>
    </div>
{% endblock content %}
