{% extends 'login/base.html' %}  
{% load static %}


{% block title %}Registro Vendedores{% endblock %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/registro_clientes.css' %}">



<h1>Registro de Vendedores</h1>
<form action="{% url 'registrar_vendedores' %}" method="post">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <textarea id="nombre" name="nombre"></textarea>
    <label for="dni">DNI/CUIL:</label>
    <input type="number" id="dni" name="dni">
    <label for="contacto">Datos de contacto:</label>
    <textarea id="contacto" name="contacto"></textarea>

    <button class= "bontonRegistrar" id="registrar" type="submit">Registrar vendedor</button>
</form>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>
                console.log("{{message}}")
                Swal.fire({
                    "text": "{{message}}",
                    "icon": "success"
                })
            </script>
        {% else %}
            <script>
                console.log("{{message}}")
                Swal.fire({
                    "text": "{{message}}",
                    "icon": "error"
                })
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
